<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="p-5">
    <nav class="navbar has-text-weight-bold" role="navigation" aria-label="main navigation">
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">Home</a>
          <a class="navbar-item" href="/dashboard">Dashboard</a>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
          <a class="navbar-item" href="/"><button class="no-button has-text-weight-bold is-size-6 pl-0" id="logout">Logout</button></a>
          {{else}}
          <a class="navbar-item" href="/login">Login</a>
          {{/if}}
        </div>
      </div>
    </nav>
    <p class="is-size-3 has-text-weight-bold ml-5 m-5" id="page-title"><span>The Tech Blog</span></p>
  </header>
  <main class="container mt-5">
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>
  <footer>
    
  </footer>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
