<div class="card">
  <header class="card-header pl-3">
    <p class="card-header-title">Login</p>
  </header>
  <div class="card-content">
    <div class="content">
      <form class="form login-form">
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input class="input" type="text" id="username-login">
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" id="password-login">
          </div>
        </div>
        <div class="field mb-2">
          <button type="submit" class="button is-fullwidth has-text-white">Login!</button>
        </div>
      </form>
      <a class="m-2" href="/signup">Sign up instead</a>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>
