<div class="card">
  <header class="card-header pl-3">
    <p class="card-header-title">Sign Up</p>
  </header>
  <div class="card-content">
    <div class="content">
      <form class="form signup-form">
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input class="input" type="text" id="username-signup">
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" id="password-signup">
          </div>
        </div>
        <div class="field mb-2">
          <button type="submit" class="button is-fullwidth has-text-white">Sign Up!</button>
        </div>
      </form>
      <a class="m-2" href="/login">Login instead</a>
    </div>
  </div>
</div>

<script src="./js/signup.js"></script>
