<div class="card">
    <header class="card-header pl-3">
        <p class="card-header-title">Edit Post</p>
    </header>
    <div class="card-content">
        <div class="content">
            <form class="form update-blog-form">
                <div class="field">
                    <label class="label">Title</label>
                    <div class="control">
                        <input class="input" type="text" id="blog-title" name="blog-title" placeholder="{{blog.title}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Content</label>
                    <div class="control">
                        <textarea class="textarea is-small" id="blog-content" name="blog-content" placeholder="{{blog.content}}"></textarea>
                    </div>
                </div>
                <div class="field mb-2">
                    <button type="submit" class="button is-fullwidth has-text-white mb-3" style="background-color: #6a6a6a;" data-id="{{blog.id}}">Update Post</button>
                    <button class="button is-fullwidth has-text-white delete-blog" style="background-color: #6a6a6a;">Delete Post</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="./js/dashboard.js"></script>