/* page style, define main colors */
:root {
  --green: #d9ead3;
  --brown: #22100f;
  --gray: #A7A7A7;
}

html {
  background-color: var(--green);
}

header, .navbar, .card header {
  background-color: var(--brown);
}

.navbar a, a.navbar-item:hover, .field button, .navbar button {
  color: var(--green);
  background-color: var(--brown);
  border: none;
}

p span {
  color: var(--brown);
  background-color: var(--green);
  box-shadow: 5px 5px 0px 1px var(--gray);
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
}

.card{
  background: none;
}

.card-content {
  color:var(--brown);
  border: 3px solid var(--brown);
}

.card header p {
  color: var(--green);
}